{% extends "base.html" %}

{% block title %}
  <title>Todo list</title>
{% endblock %}

{% block content %}
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          {{ task.content }} -
          {% if task.completed %}
            Done
          {% else %}
            Not Done
          {% endif %}
          <hr>
          created: {{ task.datetime }} -
          {% if task.deadline %}
            Deadline: {{ task.deadline }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    No tasks found.
  {% endif %}
{% endblock %}
