{% extends "base.html" %}

{% block title %}
  <title>Todo list</title>
{% endblock %}

{% block content %}
  <h1>
    TODO list
    <a style="float:right" href="{% url 'manager:task-create' %}">
      Add task
    </a>
  </h1>
  <hr>

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          {{ task.content }} -
          {% if task.completed %}
            Done
            <a style="float:right" href="#">Undo</a>
          {% else %}
            Not Done
            <a style="float:right" href="#">Done</a>
          {% endif %}
          <br>

          created: {{ task.datetime }} -
          {% if task.deadline %}
            Deadline: {{ task.deadline }}
          {% endif %}
          <br>
          <p>
            Tags:
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% empty %}
              No tags
            {% endfor %}
            <a href="{% url 'manager:task-update' pk=task.id %}">
              Update
            </a>
            <a href="{% url 'manager:task-delete' pk=task.id %}">
              Delete
            </a>
          </p>
          <hr>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    No tasks found.
  {% endif %}
{% endblock %}
